@media (min-width: 1050px) {
    main{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        background-color: white;
        svg{
            pointer-events: auto;
        }
        button{
            padding: 0;
            margin: 0;
            background-color: #e0ebeb;
            margin-top: 10px;
            margin-left: 10px;
            width: 15%;
            height: 50px;
            border: none;
            border-radius: 20px;
            &:hover{
                cursor: pointer;
                background-color: #ffff99;
            }
        }
        .buttonNone{
            background-color: white;

        }
        .sortowanie{
            width: 70%;
            margin: auto;
        }
        .sortForm{
            width: 30%;
            margin: auto;
            margin-top: 20px;
            .sortButton{
                width: 70%;
                margin: auto;
                margin-top: 10px;
            }
            select{
                height: 50px;
                text-align: center;
                border: 1px solid black;
                border-radius: 10px;
                &:hover{
                    cursor: pointer;
                    background-color: #ffff99;
                }
            }
        }
        #menu{
            margin-left: 10px;
        }
        .Add{
            button{
                width: 70%;
            }
            span{
                margin: 10px;
            }
        }
        ul{
            list-style: none;
            text-align: center;
            width: 80%;
            margin: auto;
            li{
                background-color: white;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: 1px black solid;
                border-radius: 10px;
                margin: 20px;
                transition: transform .1s;
                &:hover{
                    transform: scale(1.03);
                    box-shadow: 1px 5px #141414;
                }
                .Link{
                    text-decoration: none;
                    color: black;
                    padding: 10px;
                }
                img{
                    border: 1px solid black;
                }
            }
        }
        menu{
            display: flex;
            justify-content: center;
            div{
                margin: 10px;
                img{
                    width: 100px;
                    height: 100px;
                    mix-blend-mode: multiply;
                }
            }

        }
        form{
            margin: 15px;
            display: grid;
            grid-template-rows: auto;
            input{
                margin: 10px;
                padding: 10px;
                text-align: center;
            }
            label{
                font-weight: bold;
            }
            div{
                color: #ff3333;
            }
        }
        .mainDetails{
            width: 70%;
            margin: auto;
            img{
                border: 1px solid black;
            }
            h1{
                font-style: italic;
            }
            h1, h2, h3, h4{
                margin: 0px;
                padding: 5px;

            }
        }
        .home{
            margin: 20px;
        }
    }
}
@media (max-width: 1050px) and (min-width: 350px) {
    main{
        margin-top: 20px;
        text-align: center;
        svg{
            pointer-events: auto;
        }
        button{
            background-color: #e0ebeb;
            padding: 0;
            margin: 0;
            margin-top: 10px;
            margin-left: 10px;
            width: 15%;
            height: 50px;
            border: none;
            border-radius: 20px;
        }
        .buttonNone{
            background-color: white;

        }
        .sortowanie{
            width: 70%;
            margin: auto;
        }
        .sortForm{
            width: 30%;
            margin: auto;
            margin-top: 20px;
            .sortButton{
                width: 70%;
                margin: auto;
                margin-top: 10px;
            }
            select{
                height: 50px;
                text-align: center;
                border: 1px solid black;
                border-radius: 10px;
                &:hover{
                    cursor: pointer;
                    background-color: #ffff99;
                }
            }
        }
        #menu{
            margin-left: 10px;
        }
        .Add{
            span{
                margin: 10px;
            }
        }
        ul{
            list-style: none;
            text-align: center;
            li{
                border-radius: 10px;
                margin-top: 10px;
                background-color: white;
                align-items: center;
                border: 1px black solid;;
                .Link{
                    text-decoration: none;
                    color: black;
                    padding: 10px;
                }
                h2, h4{
                    display: none;
                }
                h1, h3{
                    font-size: medium;
                }
                h1, h2, h3, h4{
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
        menu{
            display: flex;
            justify-content: center;

            div{
                margin: 10px;
                img{
                    width: 100px;
                    height: 100px;
                    mix-blend-mode: multiply;
                }
            }

        }
        form{
            margin: 15px;
            display: grid;
            grid-template-rows: auto;
            input{
                margin: 10px;
                padding: 10px;
                text-align: center;
            }
            label{
                font-weight: bold;
            }
            div{
                color: #ff3333;
            }
        }
        .mainDetails{
            width: 70%;
            margin: auto;
            img{
                border: 1px solid black;
            }
            h1, h2, h3, h4{
                margin: 0px;
                padding: 0px;
            }
            h1 {
                font-style: italic;
            }
        }
        .home{
            margin: 20px;
        }
    }
}
@media (max-width: 349px){
    main{
        display: none;
    }
}