@media (min-width: 1050px) {
  main {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: white;
  }
  main svg {
    pointer-events: auto;
  }
  main button {
    padding: 0;
    margin: 0;
    background-color: #e0ebeb;
    margin-top: 10px;
    margin-left: 10px;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 20px;
  }
  main button:hover {
    cursor: pointer;
    background-color: #ffff99;
  }
  main .buttonNone {
    background-color: white;
  }
  main .sortowanie {
    width: 70%;
    margin: auto;
  }
  main .sortForm {
    width: 30%;
    margin: auto;
    margin-top: 20px;
  }
  main .sortForm .sortButton {
    width: 70%;
    margin: auto;
    margin-top: 10px;
  }
  main .sortForm select {
    height: 50px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
  }
  main .sortForm select:hover {
    cursor: pointer;
    background-color: #ffff99;
  }
  main #menu {
    margin-left: 10px;
  }
  main .Add button {
    width: 70%;
  }
  main .Add span {
    margin: 10px;
  }
  main ul {
    list-style: none;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  main ul li {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px black solid;
    border-radius: 10px;
    margin: 20px;
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s;
  }
  main ul li:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-box-shadow: 1px 5px #141414;
            box-shadow: 1px 5px #141414;
  }
  main ul li .Link {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  main ul li img {
    border: 1px solid black;
  }
  main menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main menu div {
    margin: 10px;
  }
  main menu div img {
    width: 100px;
    height: 100px;
    mix-blend-mode: multiply;
  }
  main form {
    margin: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  main form input {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  main form label {
    font-weight: bold;
  }
  main form div {
    color: #ff3333;
  }
  main .mainDetails {
    width: 70%;
    margin: auto;
  }
  main .mainDetails img {
    border: 1px solid black;
  }
  main .mainDetails h1 {
    font-style: italic;
  }
  main .mainDetails h1, main .mainDetails h2, main .mainDetails h3, main .mainDetails h4 {
    margin: 0px;
    padding: 5px;
  }
  main .home {
    margin: 20px;
  }
}

@media (max-width: 1050px) and (min-width: 350px) {
  main {
    margin-top: 20px;
    text-align: center;
  }
  main svg {
    pointer-events: auto;
  }
  main button {
    background-color: #e0ebeb;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 20px;
  }
  main .buttonNone {
    background-color: white;
  }
  main .sortowanie {
    width: 70%;
    margin: auto;
  }
  main .sortForm {
    width: 30%;
    margin: auto;
    margin-top: 20px;
  }
  main .sortForm .sortButton {
    width: 70%;
    margin: auto;
    margin-top: 10px;
  }
  main .sortForm select {
    height: 50px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
  }
  main .sortForm select:hover {
    cursor: pointer;
    background-color: #ffff99;
  }
  main #menu {
    margin-left: 10px;
  }
  main .Add span {
    margin: 10px;
  }
  main ul {
    list-style: none;
    text-align: center;
  }
  main ul li {
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px black solid;
  }
  main ul li .Link {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  main ul li h2, main ul li h4 {
    display: none;
  }
  main ul li h1, main ul li h3 {
    font-size: medium;
  }
  main ul li h1, main ul li h2, main ul li h3, main ul li h4 {
    margin: 0px;
    padding: 0px;
  }
  main menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main menu div {
    margin: 10px;
  }
  main menu div img {
    width: 100px;
    height: 100px;
    mix-blend-mode: multiply;
  }
  main form {
    margin: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  main form input {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  main form label {
    font-weight: bold;
  }
  main form div {
    color: #ff3333;
  }
  main .mainDetails {
    width: 70%;
    margin: auto;
  }
  main .mainDetails img {
    border: 1px solid black;
  }
  main .mainDetails h1, main .mainDetails h2, main .mainDetails h3, main .mainDetails h4 {
    margin: 0px;
    padding: 0px;
  }
  main .mainDetails h1 {
    font-style: italic;
  }
  main .home {
    margin: 20px;
  }
}

@media (max-width: 349px) {
  main {
    display: none;
  }
}
/*# sourceMappingURL=templ.css.map */